<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.mywebapp.mapper.GuestBookMapper">

	<!-- 리스트를 보여줍시당 -->
	<select id="getGuestbookList">
		SELECT 
		    gb.guestbook_id AS guestBookId,
		    gb.guestbook_content AS guestBookContent,
		    gb.written_at AS writtenAt,
		    gb.guestbook_minihome_id AS guestBookMiniHomeId,
		    gb.guestbook_writer_id AS guestBookWriterId,
		    writer.nickname AS nickname,  -- 작성자 닉네임
		    writer.profile_photo_path AS profielPhotoPath
		FROM 
		    guestbook AS gb 
		    INNER JOIN user AS owner ON owner.user_id = gb.guestbook_minihome_id  -- 미니홈피 주인
		    INNER JOIN user AS writer ON writer.user_id = gb.guestbook_writer_id  -- 방명록 작성자
		WHERE 
		    owner.login_id = #{miniHomeOwnerLoginId}
		ORDER BY 
		    gb.written_at DESC;
	</select>
	
	<!-- 방명록 추가 -->
	<insert id="insertGuestbook" parameterType="com.team4.mywebapp.dto.GuestBookDto">
	  INSERT INTO guestbook (
	    guestbook_content,
	    written_at,
	    guestbook_minihome_id,
	    guestbook_writer_id
	  )
	  VALUES (
	    #{guestbookContent},
	    NOW(),
	    #{guestBookMiniHomeId},
	    #{guestbookWriterId}
	  )
	</insert>

    
    <!-- 삭제를 할거임 -->
    <delete id="deleteGuestbook" parameterType="long">
    	DELETE 
    	FROM 
    		guestbook 
    	WHERE 
    		guestbook_id = #{guestBookId}
    </delete>
    
    <!-- 닉네임을 로그인 아이디로.. -->
    <select id="findMinihomeIdByLoginId" parameterType="string" resultType="int">
	  SELECT m.minihome_id
	  FROM minihome m
	  JOIN `user` u ON m.minihome_owner_id = u.user_id
	  WHERE u.login_id = #{loginId}
	</select>
    

</mapper>