<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.mywebapp.mapper.SignupMapper">

	<select id="getMinihomeMinime" parameterType="int" resultType="com.team4.mywebapp.dto.MinihomeMinimeDto">
		SELECT minihome_minihome_id
				minime_minime_id
		FROM minihome_minime 
		WHERE minihome_minime_id = #{minihomeMiniHomeId}
	</select>

</mapper>